<div class = 'page-main'>
    <h1>Students Index</h1>
    <ul class = 'w3-container'>
        <% @students.each do |student| %>
            <li><%= link_to student.full_name, student_path(student) %></li>
        <% end %>
    </ul>
</div>