<div class = 'page-main'>
    <h1><%= @student.full_name %>'s Page</h1>

    <h3>Graduation Path: <%= @student.enrolled_program.title %></h3>
    <% @student.enrolled_courses.uniq.each do |c| %>
    <%= c.course_type %>
    <% end %>

    <br>
    <h3>Courses:</h3>
    <ul class = 'w3-container'>
        <% @student.enrolled_courses.each do |course| %>
            <li><%= link_to course.name, course_path(course) %></li>
        <% end %>
    </ul>
</div>