<h1>My Created Programs:</h1>
<ul>
    <% @graduation_paths.each do |gp| %>
        <li><%= link_to gp.title, graduation_path_path(gp) %></li>
    <% end %>
</ul>
<br>

<%= button_to 'New Program', new_graduation_path_path, method: 'get' %>
