/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



body {
   background-color: #dad8be;
   width:100%;
   height:100%;
}
.body-wrapper {
   width:80%;
   height:inherit;
   margin-left: 10%;
   margin-right: 10%;
   padding-bottom :10px;
   //box-shadow: 0 4px 8px 0 rgba(14, 13, 13, 0.4);
   //outline-style: dashed;
}
.body-wrapper
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.body-wrapper:before, .body-wrapper:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:0px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.body-wrapper:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.header {
   background-color: #4f345a;
   background-image: url("backgrounds/preview.jpg");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   height: 35vh;
   display: flex;
   flex-direction: column-reverse;
   align-content: flex-end;
}
.navbar {
   width: 100%;
   backdrop-filter: blur(4px);
   height: fit-content;
   display: flex;
   //justify-content: space-evenly;
   flex-direction: row;
}

.nav-btn {
   width: 15%;
   background-color: transparent;
   padding: 8px;
   display: block;
   text-align: center;
}
.nav-btn:hover {
   background-color: #C2C094;
   cursor: pointer;
}

.page-main{
   text-align: center;
   width: 60%;
   margin: auto;
   display: flex;
   flex-direction: column;
}

.page-main *{
   width:100%;
}
.page-main input[type="text"], .page-main input[type="number"]{
   padding: 0 0 0 0;
}

ul.w3-container{
   background-color: #dc9596;
   box-shadow: 0 4px 8px 0 rgba(14, 13, 13, 0.4);
   padding: 0.1 0.1 0.1 0.1;
   border-radius: 10px;
}
// .content {
//    display: flex;
//    flex-direction: column;
//    align-content: center;
//    text-align: center;
// }
// .login_form_container {
//    align-self: center;
//    width:50%;
// }
// .field {
//    width:100%;
//    padding-top: 10px;
//    padding-bottom: 10px;
// }
// input {
//    width: 100%;
//    height: 25px;
//    padding: 0;
//    border: 1;
// }
// img {
//    width: 100%;
// }
// textarea {
//    width: 100%;
//    height: 100px;
//    max-width: 100%;
//    padding: 0;
//    border: 1;
// }

// For OmniAuth Buttons:
#facebook:hover {
   content: url(asset_path('buttons/login/facebook_btn_hover'));
}
#facebook:active {
   content: url(asset_path('buttons/login/facebook_btn_pressed'));
}

#google_oauth2:hover {
   content: url(asset_path('buttons/login/google_oauth2_btn_hover'));
}
#google_oauth2:active {
   content: url(asset_path('buttons/login/google_oauth2_btn_pressed'));
}

#twitter:hover {
   content: url(asset_path('buttons/login/twitter_btn_hover'));
}
#twitter:active {
   content: url(asset_path('buttons/login/twitter_btn_pressed'));
}

#github:hover {
   content: url(asset_path('buttons/login/github_btn_hover'));
}
#github:active {
   content: url(asset_path('buttons/login/github_btn_pressed'));
}
// end of Oauth Buttons
