/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 #oAuth_btn_0 {
 }
 #oAuth_btn_0:hover {
    content: url("http://imgur.com/SZ8Cm.jpg");
 }

 #oAuth_btn_1 {
 }
 #oAuth_btn_1:hover {
    content:url(asset_path('buttons/google/btn_google_signin_light_pressed_web.png'));
 }

 #oAuth_btn_2 {
 }

 #oAuth_btn_2:hover {
    content:url("http://imgur.com/SZ8Cm.jpg");
 }



 #oAuth_btn_3 {
    content:url("http://imgur.com/SZ8Cm.jpg");
 }