/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
   width:100vw;
   height:100vh;
}
.body-wrapper {
   width:80%;
   height:100%;
   margin-left: 10%;
   margin-right: 10%;
   outline-style: dashed;
}
.header {
   background-color: cyan;
   background-image: url("backgrounds/board-of-education-directors-blackboard-picture-frame.jpg");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   height: 35%;
   display: flex;
   flex-direction: column-reverse;
   align-content: flex-end;
}
.navbar {
   width: 98%;
   height: fit-content;
   display: flex;
   //justify-content: space-evenly;
   flex-direction: row;
}

.nav-btn {
   width: 15%;
   background-color: transparent;
   padding: 8px;
   display: block;
   text-align: center;
}
.nav-btn:hover {
   background-color: darkcyan;
   cursor: pointer;
}
.content {
   display: flex;
   flex-direction: column;
   align-content: center;
   text-align: center;
}
.login_form_container {
   align-self: center;
   width:50%;
}
.field {
   width:100%;
   padding-top: 10px;
   padding-bottom: 10px;
}
input {
   width: 100%;
   height: 25px;
}